:root {
  --hintergrund: rgb(225, 222, 225);
  --blatt-hintergrund: rgb(243, 241, 241);
  --graue-headings: rgb(209, 204, 204);
  --blue: rgb(67, 67, 218);
  --green: rgb(40, 134, 40);
  --haupt-schrift: Matter, sans-serif;
  --zusatz-schrift:'Courier New', Courier, monospace;
  --weiss: rgb(255,255,255);
  --link-farbe: #7a7ae2;
  --text-100: black;
  --text-101:#242426; 
  --text-102:#5f4d3b;
  --text-103:#242426;
  --text-104: #b3b3b8;
}

  @view-transition {
  navigation: auto;
  }
  ::view-transition-group(*) {
  animation-duration: 0.1s;
  }

body {
  font-family: var(--haupt-schrift);
  color: var(--text-101);
  position: relative;
  background: var(--hintergrund);
  margin: 0;
  opacity: 0;
  animation: fadeInUp 0.6s ease 0.3s forwards;
  overflow-x: hidden;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
  }
}

.green {
  color: var(--green) !important;
}
.blue {
  color: var(--blue) !important;
}
.bold {
  font-weight: bold !important;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  opacity: 0.5;
}
hr {
  opacity: 0.5;
}



/*#########################################################################*/
/* HEADER */
header {
  padding: 10px 60px;
  margin: 0;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--hintergrund);
  z-index: 1000;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}
.right-header {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}
.right-header a {
  color: inherit;
  text-decoration: none;
  font-family: var(--zusatz-schrift);
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .right-header {
    display: none;
  }
  header {
    padding: 10px 20px;
  }
}


/*#########################################################################*/
/* MIDDLE */

middle-wrapper {
  display: block;
  max-width: 1200px;
  margin: auto;
  position: relative;
}
middle {
  display: block;
  margin-left: 25rem;
  margin-right: 5rem;
}
aside, .page-title {
  display: block;
  position: absolute;
  margin-left: 0;
  left: 5rem;
  width: 17.5rem;
  text-align: right;
  list-style-type: none;
  clear: both;
  margin-bottom: 1rem;
}
.page-title {
    border-top: solid 3px #8d6e63;
}
@media (min-width:769px) and (max-width: 900px) {
  middle {
    margin-left: 20rem;
    margin-right: 5rem;
  }
  aside, .page-title {
    width: 12.5rem;
  }
}
@media (max-width: 768px) {
  middle {
    margin: 1rem;
  }
  aside, .page-title {
    position: static;
    margin: auto;
    width: auto;
    text-align: left;
  }
  p+aside {
    margin-top: 3rem;
  }
}



/*#########################################################################*/
/* FOOTER */
footer {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  margin: 2rem 0;
}
.get-in-touch {
  margin: 2rem 0 0 0;
  font-size: 1.375rem;
}
.socials {
  width: 32px;
  margin: 5px;
}
.copyright {
  margin: 0;
  font-size: 1rem;
  opacity: 0.5;
  text-align: center;
  text-transform: lowercase;
}



/*#########################################################################*/
/* DROPDOWN BUTTON (ONLY FOR PHONES)*/
.dropdown {
  text-align: center;
  margin-left: auto;
  display: inline-block;
  z-index: 1000; /* large to keep it always in the front */
}
.dropbtn {
  background: var(--hintergrund);
  border: none;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px 0;
  transition: all 0.3s ease;
}
.cross .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .bar:nth-child(2) {
  opacity: 0;
}
.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}
.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  border-radius: 5px;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content.show {
  display: block;
}
@media (pointer: fine) {
  /* for devices with a mouse */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
@media (min-width: 769px) {
  .dropdown {
    display: none;
  }
}




/*#########################################################################*/
/* text formats */
.text-101 {
  color: var(--text-101);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 26px;
}
.text-102 {
  color: var(--text-102);
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  font-style: italic;
}
.text-103 {
  color: var(--text-103);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 26px;
}
.text-104 {
  color: var(--text-104);
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  font-style: italic;
}



/*#########################################################################*/
/* images */
#images{
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.image {
  width: 30%;
}
@media (max-width: 768px) {
  #images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
  }
  .image {
    width: 70%;
  }
}
