:root {
  --hintergrund:rgb(225, 222, 225);
  --graue-headings: rgb(209, 204, 204);
  --weiss-cv: rgb(243, 241, 241);
  --test-farbe:yellow;
  --blue:rgb(67, 67, 218);
  --green:rgb(40, 134, 40);
  --orange:rgb(221, 139, 24);
  --haupt-schrift:'Courier New', Courier, monospace;
  --zusatz-schrift:Matter, sans-serif;
}

  @view-transition {
  navigation: auto;
  }
  ::view-transition-group(*) {
  animation-duration: 0.1s;
  }

.green {
  color:var(--green)
}
.blue {
  color:var(--blue);
}
.orange {
  color:var(--orange);
}

.bold {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: var(--hintergrund);
  margin: 0;
}

hr {opacity: 0.4;}

.cool-link {
  color: #780000;
}

h2 {
  font-family: var(--haupt-schrift);
  font-weight:bold;
  text-transform: uppercase;
  background: var(--graue-headings);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin: 5px;
}


.centered-text {
  text-align: center;
}


/*#########################################################################*/
/* HEADER */
header {
  padding: 30px 60px 30px 60px;
  margin: 0;
  display:flex;
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--hintergrund);
  z-index: 1000;
  border-bottom: solid 1px rgba(0,0,0,0.2);
}

.right-header {
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  margin-left: auto;
}
.right-header a {
  color:inherit;
  text-decoration:none;
  opacity:1;
  font-family: var(--haupt-schrift);
  font-size: x-large;
  font-weight:bold;
  text-transform: uppercase;
}
.left-header a:hover {
  opacity:0.5;
}
.right-header a:hover {
  opacity:0.5;
}

@media (max-width: 768px) {
  header {
    padding: 20px 50px 20px 20px;
  }
  .right-header {
    display: none;
  }
  .left-header a {
    font-size: x-large;
  }
  .left-header {
    width:80%;
  }
}


/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/* MIDDLE */
middle {
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.6s ease 0.3s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/* FOOTER */
footer {
  width: 100%;
  padding:20px 0;
  text-align: center;
} 
.footer_container {
  display: flex;
  justify-content: center;
}
.footer-left {
  margin-right: 30px;
}
.footer-right {
  margin-left:30px;
}
.footer_item h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  /* font-size:16px; */
  /* font-family:'Courier New', Courier, monospace; */
  /* font-weight:bold; */
  /* text-transform: uppercase; */
}
.footer_item ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  margin-bottom:0;
  font-size:14px;
}
.footer_item ul a {
  color:inherit;
  text-decoration:none;
  opacity:1;
}
.footer_item ul a:hover {
  opacity:0.5;
}
@media (min-width: 768px) {
.footer_item h3 {
  font-size:30px;
}
.footer_item ul {
  font-size:20px;
}
}

.get-in-touch {
  margin: 0;
  font-size:22px;
}
#socialmedia {
  display:flex;
  justify-content:center;
  align-items:center;
  padding: 10px 0;
}
.socials {
  width:32px;
  margin:5px;
}
.socials:hover {
  opacity:0.5;
}
.copyright {
  margin: 0px;
  font-size:16px;
  opacity:0.6;
  text-align:center;
}

/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/* DROPDOWN BUTTON (ONLY FOR PHONES)*/
.dropdown {
  text-align: center;
  position:absolute;
  top:5px;
  right:10px;
  display: inline-block;
  z-index:1000; /* very large to keep it always in the front */
}

.dropbtn {
  background: var(--hintergrund);
  color: white;
  padding: 15px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background: black;
  margin: 5px 0;
  transition: all 0.3s ease;
}

.cross .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.cross .bar:nth-child(2) {
  opacity: 0;
}
.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  right: 0;
  border-radius: 5px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: #a7aaad;
}

.dropdown-content.show {
  display: block;
}

@media (pointer: fine) {
  /* Rules for devices with mouse here */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}

@media (min-width: 769px) {
  .dropdown * {
    display: none;
  }
}


/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/* PROJECTS.HTML */
.projects {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.project {
  padding: 50px;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .projects {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}


.project-links {
  display: flex;
  align-items: center;
  margin-top: 5px;
  gap: 15px;
}

.project-links a {
  text-decoration: none;
  background-color: #7a7ae2;
  border-radius: 10px;
  padding: 12px 10px;
  color: white;
  font-family: var(--haupt-schrift);
  font-weight:bold;
  text-align:center;
}

.project-links a:hover {
  opacity: 0.5;
}





/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/*#########################################################################*/
/* INDEX.HTML */
.profileImage {
  width: 94px;
  border-radius: 15px;
  top: 0;
  right: 0;
  position: absolute;
}

.white-container {
  width: 60%;
  background: var(--weiss-cv);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  transition: transform 0.1s linear;
  margin: 30px 0;
}

.resume-header {
  text-align: center;
}

.resume-section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.resume-name {
  font-family: var(--haupt-schrift);
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 5px;
  font-size: large;
  border-right: 2px solid var(--hintergrund);
}

.resume-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.resume-item {
  display: flex;
  flex-direction: column;
}

.skillset-resume-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.skillset-resume-inner {
  width: 50%;
}


.text-100 {
  font-family: var(--haupt-schrift);
  font-size: xx-large;
  font-weight:bold;
  text-align:center;
  padding-top: 20px;
}
.text-101 {
  color: #242426;
  font-family: var(--zusatz-schrift);
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
}
.text-102 {
  color: #b3b3b8;
  font-family: var(--zusatz-schrift);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}
.text-103 {
  color: #242426;
  font-family: var(--zusatz-schrift);
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.fade-box {
  opacity: 0;
  filter: blur(25px);
  transition: opacity 1s ease-out, filter 1s ease-out;
}

.fade-box.show {
  opacity: 1;
  filter: blur(0);
}


.color-title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
  letter-spacing: 4px;
  text-align: center;
  position: relative;
}

.color-title span {
  display: inline-block;
  font-family: "Oi", serif;
  font-weight: 400;
  font-style: normal;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.color-title span:nth-child(3n+1) {
  transform: rotate(-10deg) translateY(-3px);
}
.color-title span:nth-child(3n+1):hover {
  transform: rotate(-25deg) translateY(6px) scale(1.1);
}
.color-title span:nth-child(3n+2) {
  transform: rotate(10deg) translateY(3px);
}
.color-title span:nth-child(3n+2):hover {
  transform: rotate(0deg) translateY(-8px) scale(1.1);
}
.color-title span:nth-child(3n) {
  transform: translateY(-10px);
}
.color-title span:nth-child(3n):hover {
  transform: rotate(15deg) translateY(8px) scale(1.1);
}

#hobbies-section {
  display:flex;
  justify-content: space-between;
}

.hobbies-image {
  width: 30%;
}

@media (max-width:768px) {
  .profileImage {
    width: 70px;
  }
  .white-container {
    width:85%;
    margin-bottom: 10px;
    padding: 30px 10px;
  }
  .resume-name{
    padding: 0px;
    margin-top: auto;
    border-right: none;
  }
  .resume-section {
    grid-template-columns: 1fr;
  }
  .color-title {
    font-size: 30px;
  }
  #hobbies-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px
  }

  .hobbies-image {
    width: 70%;
  }
}

